table {
    border: 2px solid black;
    margin: auto;
    margin-bottom: 20px;
    max-width: 450px;
    width: 80%;
    table-layout: fixed;
  }

  td {
    border: 1px solid black;
    width: auto;
    text-align: center;
  }

  .data{
      background-color: aquamarine;
  }